<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://transmettrelecinema.com/wp-content/uploads/2019/01/12-hommes-en-colere-749x421.jpg);">
  <div class="container">
    <h1> Welcome to your favorite watch list app!</h1>
    <p>There is one for each mood ;)</p>
  </div>
</div>


<div class="container">
  <div class="row">
    <% @lists.each do |list| %>
    <div class="pt-2 col-4">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <%= link_to list.name, list_path(list), class: "text-decoration-none text-white"%>
        <%= cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill %>
      </div>
    </div>
    <% end %>
  </div>



<%= link_to "Create a new list", new_list_path, class: "btn btn-primary" %>

</div>
